/* 최상단 이동 다른 방법 */
/* html {
  scroll-behavior:smooth;
} */


/* 기본(공통) 스타일 */
* {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
  /* 위 속성들은 상속되기에 전체 스타일을 한번에 제어 */
}

a {
  text-decoration: none;
}

img {
  /* 이미지가 인라인 요소라서 발생하는 문자기준선
  (baseline) 아래의 공간을 제거하기 위해 */
  /* img를 레이아웃 요소로 쓰기 위해 */
  display: block;
}

/* 전역 버튼 스타일 */
/* 버튼과 같이 여러 곳에서 반복 사용되는 요소를 공통 스타일로
작업하면 매번 다시 작성할 필요가 없음 */
.btn {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 700;
  color: #333;
  text-align: center;
  cursor: pointer;
  /* cursor 커스텀 : *기본값은 삽입(ex)auto,pointer) */

  /* a, span 같은 인라인 요소를 버튼으로 사용할 수 있으니 블록으로 지정 */
  display: block;
  /* 앞에 적용 대상을 기재하지 않으면 기본값이 all */
  /* 전환 효과는 요소에 직접 적용해야 hover 했을때와 안했을때 둘 다 적용됨 */
  transition: .4s;
}
.btn:hover {
  background: #333;
  color: #fff;
}

.btn.btn--brown {
  color: #592b18;
  border-color: #592b18;
}
.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}
.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}
.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}
.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
}
.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}
.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}
.btn.btn--brown:hover {
  color: #fff;
}

/* BACK TO POSITION */
.back-to-position {
  opacity: 0;
  transition-duration: 1s;
}
.back-to-position.to-left {
  transform: translateX(150px);
}
.back-to-position.to-right {
  transform: translateX(-150px);
}
.show .back-to-position {
  opacity: 1;
  transform: translateX(0);
}
.show .back-to-position.delay-1 {
  transition-delay: 1s;
}
.show .back-to-position.delay-2 {
  transition-delay: 2s;
}
.show .back-to-position.delay-3 {
  transition-delay: 3s;
}

.inner {
  /* 가운데 정렬 */
  /* max-width: 1100px; */
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* 헤더 영역 */
header {
  background: #F6F5F0;
  border-bottom: 1px solid #c8c8c8;
  /* 고정되어 있는 헤더 만들기 */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 120px;
}
header .logo {
  /* 로고의 수직 가운데 정렬 */
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu {
  /* 서브 메뉴 배치 */
  position: absolute;
  top: 10px;
  right: 0;
  
  /* 자식 요소(메뉴와 검색)을 수평 정렬 */
  display: flex;
}
header .sub-menu ul.menu {
  /* 메뉴 아이템 스타일 */
  font-family: Arial,sans-serif;
  display: flex;  /* 메뉴 아이템(li)를 수평 정렬 */
}
header .sub-menu ul.menu li {
  position: relative;
}
header .sub-menu ul.menu li::before {
  content: "";
  width: 1px;
  height: 12px;
  background: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
  /* 첫번째 요소의 구분선 숨기기 */
  display: none;
}
header .sub-menu ul.menu li a {
  /* 메뉴 아이템 간격 */
  padding: 11px 16px;
  display: block; /* 위-아래 여백 적용을 위해 블럭으로 변경 */
  font-size: 13px;
  color: #656565;
}
header .sub-menu ul.menu li a:hover {
  color: #000;
  font-size: 13.5px;
}
header .sub-menu .search {
  position: relative;
  height: 34px;
}
header .sub-menu .search input {
  /* 검색창 스타일 */
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;  /* 박스 사이즈의 기준을 보더까지 잡음 */
  outline: none; /* 클릭시 검은 테두리 삭제 */
  background: white;
  color: #777;
  font-size: 12px;
  transition: width 0.4s;  /* 가로 너비에 변화가 생기면 자연스럽게 전환 처리 */
}
header .sub-menu .search input:focus {
  /* input에 포커스 됐을 때 변화 */
  width: 190px;
  border: 1px solid #ea9926;
}
header .sub-menu .search .material-icons {
  /* 검색 아이콘 스타일 */
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
}
header .sub-menu .search.focused .material-icons {
  /* 검색창 포커스 시 검색 아이콘 투명화 */
  opacity: 0;
}
/* 메인 메뉴 */
header .main-menu{
  /* 메인 메뉴 배치 */
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  z-index: 1; /* 드롭 다운될 요소가 더 위에 노출 */
}
header .main-menu .item .item__name {
  /* 메뉴 아이템 간격 */
  padding: 10px 20px 34px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  display: inline-block;
}
header .main-menu .item:hover .item__name {
  /* 메뉴 호버시 스타일 적용 */
  background: #2c2a29;
  color: #ea9926;
  border-radius: 10px 10px 0 0;
}

/* 드롭 다운 메뉴 스타일 */
header .main-menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;

  /* height: 0px;
  overflow: hidden;
  transition: height 1s; 
  */
}

header .main-menu .item:hover .item__contents {
  display: block;
  
  /* height: 500px; */
}
header .main-menu .item .item__contents .contents__menu {
  background: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
  padding: 20px 0;
  display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
  /* 상세 메뉴 가로 너비 */
  width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
  font-size: 14px;
  color: white;
  padding: 3px 0 12px;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover {
  color: #ea9926;
}
header .main-menu .item .item__contents .contents__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url(/9_heropy-coffee/images/main_menu_pattern.jpg);
}
header .main-menu .item .item__contents .contents__texture h4 {
  color: #999;
  font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
  color: #ea9926;
  margin: 4px 0 14px;
}
/* 전역 배지(고정 배너) 스타일 */
header .badges {
  /* 방법 1 */
  /* position: fixed;
  top: 132px;
  right: 12px;
  z-index: 9; */
  
  /* 방법 2 */
  position: absolute;
  top: 132px;
  right: 12px;
}
header .badges .badge {
  border-radius: 10px;
  margin-bottom: 12px;
  /* x축거리,y축거리,블러,확대/축소 범위, 색상 */
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, .15);
  cursor: pointer;
  overflow: hidden;
}
/* 헤더 영역 */

/* 비쥬얼 영역 */

.visual {
  /* background-image: url(/9_heropy-coffee/images/visual_bg.jpg);
  background-position: center;
  background-repeat: no-repeat; */
  background: url(../images/visual_bg.jpg) center;
  /* 헤어가 fixed 되어 일반배치 흐름에서 벗어남
  (주변 요소들과 상호작용하지 않음 */
  /* 헤더의 높이만큼 외부 여백 증가 */
  margin-top: 120px;
}
.visual .inner {
  height: 640px;
}

.visual .title {
  position: absolute;
  top: 40px;
  left: -10px;
}
.visual .title .btn {
  position: absolute;
  top: 230px;
  left: 148px;
}
.visual .cup1.image {
  position: absolute;
  bottom: 0;
  right: -47px;
}
.visual .cup1.text {
  position: absolute;
  top: 40px;
  right: 60px;
}
.visual .cup2.image {
  position: absolute;
  bottom: 0;
  right: 162px;
}
.visual .cup2.text {
  position: absolute;
  top: 186px;
  right: 412px;
}
.visual .spoon {
  position: absolute;
  bottom: 0;
  left: 275px;
}
/* 순차적으로 요소 보이기 */
.visual .fade-in {
  opacity: 0;
}
/* NOTICE start */
.notice {
  position: relative;
}
.notice .bg-left {
  width: 50%;
  height: 100%;
  background: #333;
  position: absolute;
  top: 0;
  left: 0;
}
.notice .bg-right {
  width: 50%;
  height: 100%;
  background: #f6f5ef;
  position: absolute;
  top: 0;
  right: 0;
}
.notice .inner {
  height: 62px;
  display: flex;
}
.notice .inner__left {
  /* width: 70%; */
  flex: 7;
  background: #333;
  display: flex;
  align-items: center;
}
.notice .inner__left h2 {
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  margin-right: 20px;
}
.notice .inner__left .swiper {
  height: 62px;
  flex-grow: 1;
}
.notice .inner__left .swiper .swiper-slide {
  height: 62px;
  display: flex;
  align-items: center;
}
.notice .inner__left .swiper .swiper-slide a{
  color: #fff;
}
.notice .inner__left .notice-more {
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notice .inner__left .notice-more .material-icons {
  /* 머티리얼 아이콘은 글자로 취급하여 글자 관련 속성 적용 O */
  color: #fff;
  font-size: 30px;
}
.notice .inner__right {
  /* width: 30%; */
  flex: 3;

  display: flex;
  justify-content: flex-end;
  align-self: center;
}
.notice .inner__right h2 {
  font-size: 17px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .inner__right .toggle-promotion {
  width: 62px;
  height: 62px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notice .inner__right .toggle-promotion .material-icons {
  width: 30px;
}
/* 프로모션 영역 */

.promotion {
  display: flex;
  justify-content: center;
  background: #f6f5ef;
  overflow: hidden;
  /* 페이지 위치 */
  position: relative;
  height: 663px;
  /* 토글 하이드 */
  transition: height 0.4s;
}
.promotion.hide {
  height: 0;
}
.promotion .swiper {
  /* 이미지크기(819px) 슬라이드 3개 && 사이 여백 10px 2개 = 2477px */
  width: calc(819px * 3 + 10px * 2);
  height: 553px;
  flex-shrink: 0;  /* 2477px 유지를 위해 감소 너비 비율을 0으로 */
}
.promotion .swiper-slide {
  /* 모든 슬라이드를 반투명하게, active 한 것만 불투명하게 */
  position: relative;
  opacity: 50%;
  transition: opacity 1s;
}
.promotion .swiper-slide-active {
  opacity: 100%;
}
.promotion .swiper-slide .btn {
  position: absolute;   /* absolute를 이용한 가운데 정렬 */
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.promotion .swiper-pagination {
  /* css위치를 바꿔주거나 선택자를 더 추가하면 우선순위를 높이면 해결됨 */
  bottom: 40px !important;
  /* 헤더의 z-index가 9이기 때문에 1로 덮어씌움 */
  z-index: 1;
}
.promotion .swiper-pagination .swiper-pagination-bullet {
  /* 기존 색상은 숨기고,배경이미지를 삽입 */
  background-color: transparent; /* transparent 투명값 */
  background-image: url(/9_heropy-coffee/images/promotion_slide_pager.png);
  width: 13px;
  height: 12px;
  margin-right: 6px;
}
.promotion .swiper-pagination .swiper-pagination-bullet-active {
  background-image: url(/9_heropy-coffee/images/promotion_slide_pager_on.png);
}
/* 쉼표(,)로 구분해서 다중 선택으로 공통 스타일 지정 */
.promotion .swiper-button-prev,
.promotion .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #333;
  border-radius: 50%; /* 50% 원 만들기 */
  top: 300px;
  z-index: 1;
  color: #333;
}
.promotion .swiper-button-prev {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  left: 50%;
  margin-left: -480px;
}
.promotion .swiper-button-prev:hover {
  background: #333;
  color: #fff;
}
.promotion .swiper-button-next {
  right: 50%;
  margin-right: -480px;
}
.promotion .swiper-button-next:hover {
  background: #333;
  color: #fff;
}
.promotion .swiper-button-prev::after,
.promotion .swiper-button-next::after {
  display: none;
}
/* 프로모션 영역 */

/* 리워드 영역 */
.rewards {
  position: relative;
}
.rewards .bg-left {
  width: 50%;
  height: 100%;
  background: #272727;
  position: absolute;
  top: 0;
  left: 0;
}
.rewards .bg-right {
  width: 50%;
  height: 100%;
  background: #d5c798;
  position: absolute;
  top: 0;
  right: 0;
}
.rewards .inner {
  height: 241px;
  background-image: url(/images/rewards.jpg);
}
.rewards .btn-group {
  position: absolute;
  right: 0;
  bottom: 30px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.rewards .btn-group .btn.sign-up {
  margin-right: 10px;
}
.rewards .btn-group .btn.sign-in {
  width: 110px;
}
.rewards .btn-group .btn.gift {
  margin-top: 10px;
  flex: 1;
}

/* 리워드 영역 */

/* 유튜브 영역  */

.youtube {
  position: relative;
  height: 700px;
  /* 영상 출력 넘치는 부분 숨기기 */
  background: #272727;
  overflow: hidden;
}
.youtube .youtube__area {
  background: #272727;
  --width: 1920px;
  --height: 1080px;
  position: absolute;
  /* 유튜브 섹션 가운데로 배치 */
  left: 50%;
  top: 50%;
  /* 유튜브의 표준 영상 비율 16:9 비율 */
  width: var(--width);
  height: var(--height);
  /* margin값을 이용하여 정가운데로 옮기기 */
  margin-left: calc(var(--width) / -2);
  margin-top: calc(var(--height) / -2);
  /* 중복 값을 변수로 선언 */
  /* 
    너비, 높이를 수정할 경우 4곳 수정 필요
    => CSS 변수 선언으로 재사용 2개의 대시(--)기호로 시작
    원하는 변수명 지정 : CSS값
    선언된 변수는 CSS var() 함수를 통해 사용
  */
}
#player {
  /* 부모 영역에 가득 차도록 지정 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.youtube .youtube__cover {
  /* 섹션 영역 전체를 덮어버림 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .3); */
  background-image: url(../9_heropy-coffee/images/video_cover_pattern.png);
}
.youtube .inner {
  height: 100%;
}
.youtube .floating1 {
  position: absolute;
  top: 50px;
  left: -350px;
}
.youtube .floating2 {
  position: absolute;
  top: 450px;
  left: 250px;
}


/* 시즌 프로덕트 영역 */
.floating3 {
  position: absolute;
  bottom: 250px;
  right: -50px;
}
.season-product {
  background: url(../images/season_product_bg.jpg);
}
.season-product .inner {
  height: 400px;
}
.season-product .text-group {
  position: absolute;
  top: 110px;
  right: 100px;
}
.season-product .text-group .title {
  margin-bottom: 10px;
}
.season-product .text-group .description {
  margin-bottom: 15px;
}
/* 시즌 프로덕트 영역 */

/* 리버스 커피 영역 */

.reserve-coffee {
  background: url(../images/reserve_bg.jpg);
}
.reserve-coffee .inner {
  height: 400px;
}
.reserve-coffee .reserve-logo {
  position: absolute;
  top: 110px;
  left: 0;
}
.reserve-coffee .text-group {
  position: absolute;
  top: 124px;
  left: 208px;
}
.reserve-coffee .product {
  position: absolute;
  top: 0;
  right: 0;
}


/* PICK YOUR FAVORITE 영역 */

.pick-your-favorite {
  background: url(../images/favorite_bg.jpg) no-repeat ;
  /* 시차(Parallax) 효과 */
  background-attachment: fixed; /* 배경 이미지가 뷰포트에 고정 */
  background-position: center;
  background-size: cover;
}
.pick-your-favorite .inner {
  padding: 110px 0;
}
.pick-your-favorite .text-group {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* 정렬 영역이 충분하여 자동 줄바꿈 되지 않음 */
  /* 너비(width)값을 제한해서 강제로 줄바꿈 */
  width: 362px;
  margin-left: 100px;
}
.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}
.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

/* RESERVE STORE */

.reserve-store {
  background: url(../images/reserve_store_bg.jpg);
    /* 시차(Parallax) 효과 */
    background-attachment: fixed; /* 배경 이미지가 뷰포트에 고정 */
    background-position: center;
    background-size: cover;
}
.reserve-store .inner {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reserve-store .medal {
  width: 334px;
  height: 334px;
  /* 회전하는 요소의 부모 요소에 원근 거리를 추가 */
  perspective: 600px;
}

.reserve-store .medal .front {
  position: absolute;
  transition: 1s;
}
.reserve-store .medal .back {
  position: absolute;
  transition: 1s;
  transform: rotateY(-180deg);
  backface-visibility: hidden; /* 회전된 요소의 뒷면을 숨김 */
}
.reserve-store .medal:hover .front {
  transform: rotateY(180deg);
}
.reserve-store .medal:hover .back {
  transform: rotateY(0deg);
}

.reserve-store .medal .back .btn {
  position: absolute;
  top: 240px;
  left: 0;
  right: 0;
  margin: 0 auto;
}


/* FIND STORE */
.find-store {
  background-image: url("../images/find_store_bg.jpg");
}
.find-store .inner {
  height: 400px;
}
.find-store .texture1 {
  position: absolute;
  top: 0;
  left: 400px;
}
.find-store .texture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.find-store .picture1 {
  position: absolute;
  top: -60px;
  left: 0;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
}
.find-store .picture2 {
  position: absolute;
  top: 150px;
  left: 250px;
  border-radius: 50%;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .5);
}
.find-store .text-group {
  position: absolute;
  top: 120px;
  left: 550px;
}
.find-store .text-group .title {
  margin-bottom: 20px;
}
.find-store .text-group .description {
  margin-bottom: 20px;
}

/* AWARDS */
.awards {
  background: #272727;
}
.awards .inner {
  padding: 40px 0;
}

/* 쉼표로 구분해서 다중 선택으로 공통 스타일 지정 */
.awards .swiper-button-prev,
.awards .swiper-button-next {
  width: 42px;
  height: 42px;
  border: 2px solid #fff;
  border-radius: 50%; /* 원 만들기 */
  position: absolute;
  opacity: .3;
  z-index: 1;
}
.awards .swiper-button-prev {
  /* 가운데로 몰아넣고 마진으로 위치 조정 */
  left: -100px;
}
.awards .swiper-button-next {
  right: -100px
}
.awards .swiper-button-prev:hover,
.awards .swiper-button-next:hover {
  background-color: #fff;
  color: #333;
}
.awards .swiper-button-prev::after,
.awards .swiper-button-next::after {
  display: none;
}

/* FOOTER */
footer {
  background: #272727;
  border-top: 1px solid #333;
}
footer .inner {
  padding: 40px 0 60px;
}
footer .menu {
  display: flex;
  justify-content: center;
}
footer .menu li {
  position: relative;
}
footer .menu li::before {
  content: "";
  width: 3px;
  height: 3px;
  background-color: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto; /* 수직 가운데 정렬 */
}
footer .menu li:first-child::before {
  display: none;
}
footer .menu li a {
  display: block;
  color: #ccc;
  font-size: 12px;
  font-weight: 700;
  padding: 15px;
}
footer .menu li a.orange {
  color: orange;
}
footer .btn-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
footer .btn-group .btn {
  font-size: 12px;
}
footer .btn-group .btn + .btn {
  margin-left: 10px;
}
footer .info {
  margin-top: 30px;
  text-align: center;
}
footer .info span {
  color: #999;
  font-size: 12px;
}
footer .info span + span {
  margin-left: 20px;
}
footer .copyright {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 12px;
}
footer .copyright .this-year {
  color: #999;
}
footer .logo {
  margin: 30px auto 0;
}

/* 스크롤 이벤트(SCROLL TO TOP) */
#to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 42px;
  height: 42px;
  background: #333;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#to-top span {
  color: #fff;
}

/* 비쥬얼 영역 끝 */